input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

#solution {
    border: none;
    text-align: center;
    width: 100%;
    height: 2em;
    border-radius: 25px;
    padding: 0px 00px;
    font-size: larger;
}

#solution:focus {
    outline: none !important;
}

#wrapper {
    width: 100%;
    min-width: 330px;
    margin: auto;
    text-align: center;
    /* margin-top: 10%; */
}

#task {
    font-weight: bold;
    font-size: xx-large;
}

#current-task {
    border-radius: 25px;
    line-height: 2em;
    display: inline-block;
}

body {
    font-size: larger;
    margin: 0px;
    /* disable text selection to omit selection dialog */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.config {
    width: 20%;
    display: inline-block;
    padding: 0;
    border: none;
    height: 2em;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
}

.config-label {
    display: inline-block;
    width: 50%;
}

.config:focus {
    outline: none !important;
}

#trainer-page {
    width: 45%;
    max-width: 400px;
    margin: auto;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

#config {
    margin: 10px auto;
    width: 95%;
    text-align: left;
}

#config p {
    margin: 5px 0px 2px 0px;
}

#control {
    border-left: 1px solid;
}

#history {
    border-right: 1px solid;
}

.subpage {
    margin: auto;
    overflow: auto;
    height: calc(100% - 3em);
}

.hidden {
    display: none !important;
}

#nav {
    right: 10px;
}

#stats {
    left: 10px;
}

.page {
    margin-top: 15px;
    width: 45%;
    max-width: 30%;
    height: calc(100% - 9em);
    z-index: 40;
    padding: 10px 10px 40px 10px;
    min-width: 300px;
    position: absolute;
}

#input {
    margin-bottom: 1em;
    width: 90%;
    margin: auto;
    max-width: 20em;
}

#input img {
    float: right;
    position: absolute;
    height: 1.5em;
    width: 1.2em;
    margin: 8px 0px 0px 15px;
}

#partial-solutions {
    text-align: center;
    white-space: pre;
    padding: 10px;
}

#temp-solutions {
    display: inline-block;
    font-size: x-large;
    /* height: 15em; */
}