header {
    height: 5em;
    position: relative;
    z-index: 20;
}

header p {
    margin: 0em;
}

#header-main {
    margin: auto;
}

#header-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 33%;
    text-align: left;
}

#header-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 33%;
    text-align: right;
    z-index: 100;
}

#settings-image {
    height: 2.5em;
    margin: 1em;
    /* padding-top: 1em; */
    display: inline-block;
    /* vertical-align: sub; */
}

#stats-image {
    height: 2.5em;
    margin: 1em;
    /* padding-top: 1em; */
    display: inline-block;
    /* vertical-align: sub; */
}

#task {
    height: 4em;
}

#current-task {
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.inactive-page-icon {
    opacity: 0.3;
}

#history {
    text-align: left;
}

button {
    line-height: 0.9em;
    border: none;
    /* padding: 15px 32px; */
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    width: 95%;
    margin-top: 5px;
    /* height: 3em; */
    vertical-align: top;
    padding: 0.4em 1em 0.4em 1em;
    position: relative;
}

h2 {
    font-size: 1.8em;
    margin: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.b-label-status {
    position: relative;
    /* display: inline-block; */
    float: right;
}

.button-sub {
    font-size: 0.6em;
}

h1 {
    margin: 0em;
    margin-top: 0.2em;
}

button:focus {
    outline: none !important;
}

#history h3,
#history ul {
    width: 90%;
    margin: auto;
}

#history-list li span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    display: block;
}