input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

#wrapper {
    width: 100%;
    min-width: 330px;
    margin: auto;
    text-align: center;
    /* margin-top: 10%; */
}

#task {
    font-weight: bold;
    font-size: xx-large;
}

#task p {
    border-radius: 25px;
    line-height: 2em;
    display: inline-block;
}

body {
    font-size: larger;
    margin: 0px;
    /* disable text selection to omit selection dialog */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#trainer-page {
    /* display: none; */
    height: calc(100% - 5.5em);
    /* position: absolute; */
    width: 100%;
    min-width: 330px;
}

#config {
    width: 95%;
    margin: auto;
    text-align: left;
}

#config p {
    margin: 10px auto;
}

#header img {
    max-width: 4em;
    width: 55%;
    height: auto;
    min-width: 3em;
}

#header figure {
    margin: 0.5em;
}

.page {
    position: relative;
    min-width: 330px;
    width: 100%;
}

#input {
    margin-bottom: 1em;
    width: 90%;
    margin: auto;
    max-width: 20em;
}

#input img {
    float: right;
    position: absolute;
    height: 1.5em;
    width: 1.2em;
    margin: 8px 0px 0px 15px;
}

#partial-solutions {
    text-align: center;
    white-space: pre;
    padding: 10px;
}

#temp-solutions {
    display: inline-block;
    font-size: x-large;
    /* height: 15em; */
}